<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="emptySpace80 emptySpace-lt50 emptySpace-md35 emptySpace-xs0"></div>
        <div class="sectionTitle fadeInTop d-flex flex-column justify-content-center align-items-center" style="min-height: 35vh">
          <p>Кошик порожній.</p>
          <a routerLink="/home" style="color: #c80000">Замовити піцу</a>
        </div>
        <div class="emptySpace80 emptySpace-lt50 emptySpace-md35 emptySpace-xs0"></div>
      </div>
    </div>
  </div>
  
  